<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WIZ_SEARCH_1</key>
	<dict>
		<key>ACCOUNTUSERID</key>
		<string>varchar(200)</string>
		<key>COUNT</key>
		<string>int</string>
		<key>DATE</key>
		<string>char(19)</string>
		<key>KBGUID</key>
		<string>varchar(100)</string>
		<key>KEYWORDS</key>
		<string>varchar(400)</string>
		<key>FOLDER</key>
		<string>varchar(200)</string>
		<key>TAGGUIDS</key>
		<string>varchar(400)</string>
		<key>TYPE</key>
		<string>int</string>
	</dict>
	<key>WIZ_ABSTRACT</key>
	<dict>
		<key>ABSTRACT_GUID</key>
		<string>char(36) </string>
		<key>ABSTRACT_TYPE</key>
		<string>varchar(50)</string>
		<key>ABSTRACT_TEXT</key>
		<string>varchar(3000)</string>
		<key>ABSTRACT_IMAGE</key>
		<string>blob</string>
		<key>DT_MODIFIED</key>
		<string>char(19)</string>
		<key>GROUP_KBGUID</key>
		<string>char(36)</string>
		<key>PRIMARAY_KEY</key>
		<string>ABSTRACT_GUID</string>
	</dict>
	<key>WIZ_MESSAGE</key>
	<dict>
		<key>MESSAGE_ID</key>
		<string>int64</string>
		<key>MESSAGE_BIZ_GUID</key>
		<string>char(38)</string>
		<key>MESSAGE_KB_GUID</key>
		<string>char(38)</string>
		<key>MESSAGE_DOCUMENT_GUID</key>
		<string>char(38)</string>
		<key>MESSAGE_TITLE</key>
		<string>varchar(768)</string>
		<key>MESSAGE_SENDER_GUID</key>
		<string>char(38)</string>
		<key>MESSAGE_SENDER_ID</key>
		<string>varchar(128)</string>
		<key>MESSAGE_SENDER_ALIAS</key>
		<string>varchar(32)</string>
		<key>MESSAGE_RECEIVER_GUID</key>
		<string>char(38)</string>
		<key>MESSAGE_RECEIVER_ID</key>
		<string>varchar(128)</string>
		<key>MESSAGE_RECEIVER_ALIAS</key>
		<string>char(38)</string>
		<key>MESSAGE_MESSAGE_TYPE</key>
		<string>int64</string>
		<key>MESSAGE_EMAIL_STATUS</key>
		<string>int64</string>
		<key>MESSAGE_SMS_STATUS</key>
		<string>int64</string>
		<key>MESSAGE_READ_STATUS</key>
		<string>int64</string>
		<key>MESSAGE_DT_CREATED</key>
		<string>char(19)</string>
		<key>MESSAGE_BODY</key>
		<string>varchar(1024)</string>
		<key>MESSAGE_NOTE</key>
		<string>varchar(256)</string>
		<key>LOCALCHANGED</key>
		<string>int</string>
		<key>PRIMARAY_KEY</key>
		<string>MESSAGE_ID</string>
	</dict>
	<key>WIZ_BIZ_USER</key>
	<dict>
		<key>WIZ_BIZ_USER_ID</key>
		<string>varchar(128)</string>
		<key>WIZ_BIZ_USER_ALIAS</key>
		<string>varchar(128)</string>
		<key>WIZ_BIZ_USER_PINYIN</key>
		<string>varchar(256)</string>
		<key>WIZ_BIZ_USER_GUID</key>
		<string>char(38)</string>
		<key>WIZ_BIZ_USER_BIZGUID</key>
		<string>char(38)</string>
		<key>PRIMARAY_KEY</key>
		<string>WIZ_BIZ_USER_GUID,WIZ_BIZ_USER_BIZGUID</string>
	</dict>
	<key>WIZ_META</key>
	<dict>
		<key>PRIMARAY_KEY</key>
		<string>META_NAME, META_KEY</string>
		<key>META_NAME</key>
		<string>varchar(50)</string>
		<key>META_KEY</key>
		<string>varchar(50)</string>
		<key>META_VALUE</key>
		<string>varchar(3000)</string>
	</dict>
	<key>WIZ_USER_TASK</key>
	<dict>
		<key>WIZ_USER_TASK_DT_CREATED</key>
		<string>char(19)</string>
		<key>WIZ_USER_TASK_DT_DEADLINE</key>
		<string>char(19)</string>
		<key>WIZ_USER_TASK_USERID</key>
		<string>varchar(256)</string>
		<key>WIZ_USER_TASK_KBGUID</key>
		<string>char(38)</string>
		<key>WIZ_USER_TASK_DOCUMENT_GUID</key>
		<string>char(38)</string>
		<key>WIZ_USER_TASK_BIZ_GUID</key>
		<string>char(38)</string>
		<key>WIZ_USER_TASK_TITLE</key>
		<string>varchar(256)</string>
		<key>WIZ_USER_TASK_BODY</key>
		<string>varchar(256)</string>
		<key>WIZ_USER_TASK_GUID</key>
		<string>char(38)</string>
		<key>PRIMARAY_KEY</key>
		<string>WIZ_USER_TASK_GUID</string>
	</dict>
</dict>
</plist>
